.switchWrapper {
    position: relative;
    @keyframes mymove {
        from {
          top: 200px;
        }
        to {
          top: 0;
        }
    }
  
    > :first-child ~ * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      animation: mymove 1s ease-in-out;
    }
  }